.DS_Store
logs/*
bookmarks
private.el

words_default.el.data
words_default.txt
words_spell-fu-ispell-personal-default.el.data
words_spell-fu-ispell-personal-default.txt
words_spell-fu-ispell-personal-en-personal.el.data
words_spell-fu-ispell-personal-en-personal.txt
words_spell-fu-ispell-personal-ru-personal.el.data
words_spell-fu-ispell-personal-ru-personal.txt
words_spell-fu-ispell-words-default.el.data
words_spell-fu-ispell-words-default.txt
words_spell-fu-ispell-words-en.el.data
words_spell-fu-ispell-words-en.txt
words_spell-fu-ispell-words-ru.el.data
words_spell-fu-ispell-words-ru.txt
